<!DOCTYPE html>
<html>
<head>
	<title>Fictional</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link  href="http://fonts.googleapis.com/css?family=Pacifico:regular" rel="stylesheet" type="text/css">
   <link  href="http://fonts.googleapis.com/css?family=Acme:regular" rel="stylesheet" type="text/css">


   <style type="text/css"> 
        table {
          border-collapse: collapse;
         border-spacing: 0;
         width: 100%;
         border: 1px solid #ddd;
       }
   
   th, td {
    border: none;
    text-align: left;
    padding: 8px;
    }


   tr:nth-child(even){background-color: #f2f2f2}

   .navbar{
		background-color: #763626;
	}

	a:hover{
		color: orange;
		text-decoration: none;
	}

	button{
		float: right;
		margin-top: 30px;
		font-size: 20px;
    	background-color: orange;
    	border-radius: 10px;
    	box-shadow: 0px 15px 25px silver;
    	outline: none;
    	width: 70px;
    	font-family: Pacifico;
	}

	button:hover{
		background-color: #763626;
		color: orange;
	}

  .well{
    background-color: silver;
  }
   li{
       padding-top: 10px;
    }

   </style>


</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>          
      </button>
      <a href="#" class="navbar-brand" style="font-size: 30px; font-family: Pacifico; padding-top: 20px;">Hello Books</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li style="font-family: Acme; font-size: 20px;"><a href="#">Home</a></li>
        <li style="font-family: Acme; font-size: 20px;"><a href="library.html">Library</a></li>
        <li style="font-family: Acme; font-size: 20px;"><a href="history.html">History</a></li>
        <li  style="font-family: Acme; font-size: 20px;"><a href="profile.html">Profile</a></li>
        <li  style="font-family: Acme; font-size: 20px;"><a href="admin.html">Admin</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="loginpage.html" style="font-family: Acme; font-size: 20px;"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
	<div class="container well" style="margin-top: 100px;">

	     <h1 class="text-center"> A</h1>
	     <table>
    <tr>
      <th>Author</th>
      <th>Title</th>
      <th>Status</th>
      <th>Borrow</th>
    </tr>
    <tr>
      <td>Anne Rice</td>
      <td>Interview with the vampire</td>
      <td>Available</td>
      <td><a href="">Borrow</a></td>
    </tr>
    <tr>
      <td>Anne Rice</td>
      <td>The Queen of the damned</td>
      <td>Available</td>
      <td><a href="">Borrow</a></td>
    </tr>
    <tr>
      <td>Anne Rice</td>
      <td>The wolf gift</td>
      <td>Available</td>
      <td><a href="">Borrow</a></td>
    </tr>
    <tr>
      <td>Agatha Christie</td>
      <td>And then there were..</td>
      <td>Available</td>
      <td><a href="">Borrow</a></td>
    </tr>
    <tr>
      <td>Agatha Christie</td>
      <td>The Mysterious</td>
      <td>Available</td>
      <td><a href="">Borrow</a></td>
    </tr>
  </table>

  <h1 class="text-center"> B</h1>
  <table>
  <tr>
      <th>Author</th>
      <th>Title</th>
      <th>Status</th>
      <th>Borrow</th>
    </tr>
    <tr>
      <td>Babara Delinsky</td>
      <td>Not my daughter</td>
      <td>Available</td>
      <td><a href="">Borrow</a></td>
    </tr>
    <tr>
      <td>Babara Delinsky</td>
      <td>The secret between us</td>
      <td>Available</td>
      <td><a href="">Borrow</a></td>
    </tr>
    <tr>
      <td>Beatrice Potter</td>
      <td>The tale of Peter rabbit</td>
      <td>Available</td>
      <td><a href="">Borrow</a></td>
    </tr>
    <tr>
      <td>Beatrice Potter</td>
      <td>The complete tales</td>
      <td>Available</td>
      <td><a href="">Borrow</a></td>
    </tr>
  </table>
  <h1 class="text-center"> C </h1>
      <table>
		<tr>
      <th>Author</th>
      <th>Title</th>
      <th>Status</th>
      <th>Borrow</th>
    </tr>
    <tr>
      <td>Corin Tellado</td>
      <td>Lección de amor</td>
      <td>Available</td>
      <td><a href="">Borrow</a></td>
    </tr>
    <tr>
      <td>C.S Lewis</td>
      <td>Chronicles of Narnia</td>
      <td>Not available</td>
    </tr>
    <tr>
      <td>Clive Cussler</td>
      <td>Zero Hour</td>
      <td>Available</td>
      <td><a href="">Borrow</a></td>
    </tr>
    <tr>
      <td>Clive Cussler</td>
      <td>Ghost ship</td>
      <td>Available</td>
      <td><a href="">Borrow</a></td>
    </tr>
  </table>

    <button>Next</button>
	</div>
</body>